@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

nav {
  height: 80px;
  display: flex;
}

.nav__container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 24px;
}

img {
  width: 100%;
  height: 100%;
  max-height: 50vh;
}

p {
  line-height: 1.5;
}

.purple {
  color: #7342d6;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo {
  width: 160px;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #7342d6;
  padding: 8px;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link--primary {
  border: 2px solid #7342d6;
  border-radius: 4px;
}

.nav__link--primary:hover {
  text-decoration: none;
}

.btn__menu {
  color: #7342d6;
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  visibility: hidden;
  opacity: 0;
}

.menu--open .menu__backdrop{
    visibility: visible;
    opacity: 1;
}

.menu--open{
    max-height: 100vh;
    overflow-y: hidden;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__link {
    font-size: 40px;
  color: white;
}

.menu__list {
  padding: 32px 0;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: white;
}

/* LANDING */

#landing {
  background-color: rgba(115, 66, 214, 0.1);
}

header {
  min-height: calc(100vh - 80px);
}

.header__container {
  height: 100%;
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 32px;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 56px;
  color: #7342d6;
  margin-bottom: 24px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 32px;
}

button {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

.btn {
  background-color: #7342d6;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 4px;
}

.header__img--wrapper {
  padding: 24px;
  z-index: 5;
}

.container {
  padding: 56px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-cursor {
  cursor: no-drop;
}

/* HIGHLIGHTS */

#highlights {
  position: relative;
  max-width: 100vw;
}

#highlights:before,
#highlights:after {
  background: url("assets/wave.svg");
  content: "";
  position: absolute;
  width: 101vw;
  height: 12vw;
  left: 0;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
}

#highlights:before {
  top: 1px;
  transform: translateY(-100%);
}

#highlights:after {
  bottom: 1px;
  transform: translateY(100%) rotate(180deg);
}

.highlight__wrapper {
  flex-wrap: wrap;
  display: flex;
}

.highlight {
  padding: 0 24px;
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlight__para {
  text-align: center;
  max-width: 280px;
}

.highlight__img {
  border: 2px solid #7342d64d;
  border-radius: 4px;
  color: #7342d6;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  margin-bottom: 24px;
}

.highlight__subtitle {
  font-size: 20px;
  margin-bottom: 16px;
  text-align: center;
}

/* FEATURES */

#features {
  padding-top: 8vw;
  background-color: rgba(115, 66, 214, 0.1);
}

.book__list {
  display: flex;
  flex-wrap: wrap;
}

.book {
  width: 25%;
  padding: 16px;
}

.book__img {
  max-height: 380px;
  transition: all 300ms ease;
  cursor: no-drop;
}

.book__img--wrapper {
  margin-bottom: 8px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}

.book:hover .book__img {
  transform: scale(1.03);
}

.book__title {
  font-size: 20px;
  margin-bottom: 8px;
}

.book__title:hover {
  text-decoration: underline;
  cursor: no-drop;
}

.book__ratings {
  margin-bottom: 8px;
  color: #fabf2a;
}

.book__price--normal {
  text-decoration: line-through;
  padding-right: 8px;
  color: #bfbfbf;
}

/* MORE */

#more {
  background-color: rgba(115, 66, 214, 0.1);
}

/* FOOTER */

footer {
  background-color: #242424;
}

.footer__logo {
  display: flex;
}

.footer__logo--img {
  width: 160px;
  filter: grayscale(1) invert(1);
}

.footer__link,
.footer__copyright {
  color: #fff;
}

.footer__links {
  margin: 20px 0 24px 0;
}

.footer__link {
  padding: 0 8px;
}

/* SMARTPHONES, TABLETS */

@media (max-width: 768px){
  .header__description{
    padding: 0 24px;
  }

  h1{
    font-size: 40px;
  }

  h2{
    font-size: 26px;
  }

  button{
    font-size: 18px;
  }

  .book{
    width: 50%;
  }
}

/* SMALL PHONES */

@media (max-width: 550px){
    .nav__links{
        display: none;
    }

    .btn__menu{
        display: block;
    }

    .highlight{
      width: 100%;
    }

    .highlight:not(:last-child){
      margin-bottom: 24px;
    }
}